.gifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.formSearch {
  text-align: center;
  margin-top: 30px;
}

input {
  width: 1020px;
  height: 30px;
  border-radius: 20px;
}

#btn {
  margin-left: 20px;
  height: 30px;
  border-radius: 5px;
}
